# Application
DEBUG=false

# Database
# need here example
DATABASE_URL=example: postgresql://user:password@localhost:5432/urlshortener

# Domain used to construct short URLs
BASE_DOMAIN=http://localhost:8000

